.header {
  border-bottom: 1px solid #ececec;

  &-container {
    display: flex;
    position: relative;

    @media screen and (min-width: 768px) {
      justify-content: space-between;

      align-items: center;
    }
  }

  &__contacts {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 50px;
    }
  }
  &__contacts-item {
    display: flex;
    align-items: baseline;
  }
  &__contacts-icon {
    fill: currentColor;
  }
}
.header__contacts-link {
  position: relative;

  display: flex;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: $text-paragraf-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $link-focus-color;
  }
}

.logo__header {
  padding: 14.5px 0;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
