.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &__icons {
    fill: currentColor;
  }
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: $text-fon-white-color;
  color: #afb1b8;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $text-fon-white-color;
    background-color: $link-focus-color;
  }
}
